.banner{
    background-image: $bg-img;
    height: 100vh;
    width: 100%;
    background-size: cover;
    margin: 0;
    display: flex;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    .text{
        height: 400px;
        width: 500px;
        position: relative;
        top: 30%;
        left: 13%;
        font-family: Helvetica, sans-serif;
        opacity: 0.8
        div{
            animation: heading;
            animation-duration: 3s;
            animation-fill-mode: forwards;
        }

        @keyframes heading {
            0% {top: -50%}
            100% {top: 30%;}
        }
        // span{
        //     text-decoration: underline;
        //     text-decoration-color: #ffa500;
        //     text-decoration-thickness: 3px;
        // }
        
        button{
            background-color: transparent;
            color: #fff;
            border: 1px solid #fff;
            padding: .5em 2em;
            cursor: pointer;
            &:hover{
                background-color: aqua;
            }
        }
        
    }

}
