$bg-color: #fff;
$bg-img: url("https://images.pexels.com/photos/6169013/pexels-photo-6169013.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");

@import 'tracHistory';
@import 'banner';
@import 'reqQuote';
@import 'navbar';
@import 'card';
body{
    padding: 0;
    margin: 0;
    box-shadow: 1px 5px 10px 0 #c7bcbc;
    transition: .3s;
    
}

span{
    padding-bottom: 5px;
    border-bottom: 2px solid orangered;
}


.content{
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 1em;

    .transport-types{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(170px, auto);
        grid-gap: 1em;
        img{
            width: 100%;
            height: 200px;
        }
    }

}


